/**
 * @Main scss for (Template/Project Name)
 * @project     - Project Name
 * @author      - 
 * @created_by  - kawsar bin siraj
 * @created_at  - 
 * @modified_by -
 */


/* fonts import */

/* fonts import -END */




/* reset, root */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    background-color: #fff;
}

:root {
    --mainColor: #F6E3BA;
}
/* reset, root - END */




/* helper , base classes */

/* helper , base classes  - END*/




/**
 * @responsive files for (Template/Project Name)
 * @created_by - 
 * @modified_by -
 */

@use './responsive.scss';